#MainDiv{
    position: relative;
    height: 800px;
    width: 100%;
    background-color: aquamarine;
}
#header{
    position: relative;
    height: 150px;
    width: 100%;
    background-color: burlywood;
    text-align: center;
}
#footer{
    position: absolute;
    width:100%;
    height: 250px;
    background-color: lightsalmon;
    margin: 2% auto;
    margin-top: 35%;
    text-align: center;
}
#bodySectionA{
    width: 50%;
    height: 55%;
    background-color: powderblue;
    float: left;
}
#bodySectionB{
    float: left;
    width: 50%;
    height: 55%;
    background-color: paleturquoise;

}

#photo2{
    width: 50%;
    height: 20px;
    float: left;
}
#photo3{
    width: 50%;
    height: 20px;
    margin-top: 18%;
    float: left;
}
#photo4{
    width: 50%;
    height: 20px;
    margin-top: 3%;
}
#photo5{
    width: 50%;
    height: 20px;
    margin-top: 15%;
    float: left;

}
#photo6{
    width: 20%;
    height: 10px;
    position: relative;
    margin: auto;
}
.nav{
    background-color: pink;
}
.nav li{
    font-size: 20px;
    width: 100%;
    height: 20px;
    list-style: none;
    display: inline;
}
#text{
    text-align: end;
}